/*---------------------- 
     Google Font 
-----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&family=Poppins:ital,wght@0,400;0,500;1,600&family=Source+Serif+4:ital@1&family=Yeseva+One&display=swap');
/*---------------------------- 
      Common Style Here 
-----------------------------*/
body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}
/*------------------------------ 
     Small Device Responsive
------------------------------*/
@media only screen and (max-width:668px){
    .r-for-small{
        font-size: 20px;
    }
    .pra-for-sm{
        display: none;
    }
}
/*---------------------------------- 
    Bonus section Button Style 
------------------------------------*/
.bg-color{
    background-color: #3F87F5;
}
.margin-bottom{
    margin-bottom: 10px;
}
.margin-toop{
    margin-top: 10px;
}
/*------------------------ 
    Our Section Style 
-------------------------*/
.button-backg{
    background-color:#f3f0f2;
}
.package-3{
    border-radius: 10px;
}
footer{
    background-color:#0B0D17;
    padding: 10%;
}
.btn-bg{
    background-color: #000000;
    border-color: rgb(255, 255, 255);
    border-radius: 12px;
}

